.active {
  border-bottom: 1px solid #86d90b;
  font-size: x-large;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0c0b0b inset;
  -webkit-text-fill-color: white !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate 30s linear infinite;
}

.smooth-scroll {
  transition: all 0.3s ease-in-out;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
  justify-content: center;
}